:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #525252;
    --secondary: #808080;
    --success: #56a356;
    --info: #569ca3;
    --warning: #b07c45;
    --danger: #a35656;
    --light: #dbdbdb;
    --dark: #1c2121;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
  

.wiki-icon {
    color: currentColor;
    font-weight: bold;
    font-size: 1.25em;
    margin-right: .25em;
    margin-left: .25em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.navbar {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    border: aliceblue;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
  }


.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}


[data-bs-theme="dark"] {
    border-color: #495057;
}

[data-bs-theme="dark"] {
    background: #222;
}

.bd-mode-toggle {
    z-index: 1500;
}

.port-details {
    margin: 0.2em .5em 0.2em .5em
}

.list-label {
    font-weight: bolder;
}

.btn-main {
    width: 110px;
}

div.downloads {
    word-wrap: break-word;
}

.title-badge {
    float: right;
    word-wrap: break-word;
    white-space: normal;
}

.me2 {
    margin-right: .5rem !important;
}

a.bold {
    font-weight: bold;
}

.wiki-buttons {
    color: primary;
    font-weight: bold;
}

.bi-download {
    font-weight: bold;
}

.vertical-center {
    vertical-align: center;
}

.active {
color: #a35656;
background-color: #a35656;


}